body{
  font-family: 'Raleway', sans-serif;
}


.a1{
  position: absolute;
  right: 17%;
  top: 0%;
  padding-right: 0%;
  padding-left: 0%;
  border-bottom: none;
  border-top: solid 2px #0065FC;
  color: #0065FC;
  padding-top: 2%;
  }
 .a2{
 right: 5%;
  top: 0%;
  padding-right: 4%;
  border-bottom: none;
  padding-top: 2%;
 }

.a3{
  display: flex;
top: 0%;
right: 0%;
padding-top: 2%;
padding-right: 2%;
}

.text{
  padding: 5% 10% 0% 0%;
  line-height: 1.5em;
}

.text1{
  line-height: 0.5em;
}
  
.navigation{
  display: flex;
  justify-content:flex-start;

}

#icom{
  background-color: #0065FC;
  color: white;
  border-radius: 50%;
 
 } 
 
 .news{
  display: flex;
  flex-direction: row;
  align-items: center;
 
 }

 .map
{
	border: 1px solid #F2F2F2;
	padding: 15px;
	width: 25px;
    height: auto;
    text-align: center;
	border-radius: 15px 0px 0px 15px;
	background-color: #F2F2F2;
}
.place
{
	padding: 15px;
	border: 1px solid #F2F2F2;
	width: 150px;
    height: auto;
    text-align: center;
}

#pseudo{
   border: 0px;
	width: 150px;
    height: 15px;
    text-align: center;

}
.research
{
	padding: 15px;
	border: 1px solid #C5C5C5;
	width: 80px;
    height: auto;
    text-align: center;
	border-radius: 0px 15px 15px 0px;
	background-color: #0065FC;
	color: aliceblue;
  opacity: 1;
}

#location
{
    display: flex;
   margin: 0% 0% 1% 0%;
}

.titrefiltre
{
	display: flex;
	flex-direction: row;
    align-items: center;
    margin-left: 10px;
    width: 5%;
    
}
.filtres
{
	display: flex;
	
	justify-content: space-between;
	margin-left: 2px;
	width: 70%;
	margin-top:15px;
	margin-bottom:15px;
	text-align: center;
	font-weight: bold;


}

.filtre
{
	border: 2px solid #F2F2F2;
	border-radius: 25px;
	padding-top:0px;
	padding-bottom:0px;
	padding-right:20px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
    background-color: white;
}
  
.inblock
{
	background-color: #DEEBFF;
	border: 0px solid white;
	border-radius: 40px 40px 40px 40px;
	margin-right: 10px;
	padding: 14px 14px 14px 15px;
	display: flex;
   
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{
    color: #0065FC;
}

.navigation{
        display: flex;
        flex-direction: column;
        margin: 2% 2% 2% 2%;
      font-family: 'Raleway', sans-serif;

    }

.news{
        display: flex;
        flex-direction: row;
        align-items: center;
}

  .info{
      margin-left: 1%;
}

.navigation{
  display: flex;
  flex-direction: column;
  margin: 2% 2% 2% 2%;
 font-family: 'Raleway', sans-serif;
}

.news{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info{
margin-left: 1%;
}

#icom{
background-color: #0065FC;
color: white;
border-radius: 50%;
}

.row {  
  display: flex;
  
  height:auto;
  width: 95%;
  padding: 1%;
}

.main {
   display: flex;
    flex-direction: row;
     margin-left: 1%;
      background-color: #f1f1f1;
       padding: 1px;
      margin-right: 1%;
     border-radius: 20px;
    width: 70%;
   flex-wrap: wrap; 
}



.side {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  padding: 10px;
  width: 30%;
  border-radius: 20px;
 
}

.hebergement{
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  justify-content: center;
  margin: 2%;
  
}
.cards{
  width: 300px;
  height: 100px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.title{
  margin-bottom: 10%;
}



.cards{
border-radius: 15px;
}
.popular{
  width: 450px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  
  padding-top: 1%;
  display: flex;  

}
.cards0{
  width: 150px;
  height: 190px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  padding-top: 1%;
}
img.thumbnail{
border-radius: 50px;
border: 1px solid #ccc;
}
  
.gallery1 {
  display: flex;
  
}

#blue-star{
  color: #0065FC;
}

#grey-star{
   color: #f1f1f1;
}

/*Activités à Marseilles*/

.activity{
  display: flex;
  flex-direction: row;
  margin: 5% 2% 2% 0%;
  background-color: white;
}

.double{
  display: flex;
  flex-direction: column;
}

.cards2{
  width: 380px;
  height: 600px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.cards1{
  width: 450px;
  height: 250px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.thumbnail2{
  width: 450px;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  margin-top: 5px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.thumbnail1{
  width: 380px;
  height: 655px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
   margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.name{
  margin:10px 0px 10px 15px;
}

/*----------------------*/

/*pied de page*/

#foot{
  display: flex;
  justify-content: flex-start;
  font-family: 'Raleway', sans-serif;
  background-color: #F2F2F2;
  padding: 0px;
}

.help{
  flex-grow: 1;
}


