.tete{
    display: flex;
    
    
   }
  
  .tete1{
    
    display: flex;
    
    
    
    
    
    
  }
  
 
  
  .tete2{
    display: flex;
    text-align: end;
    flex-direction: row-reverse;
    justify-content: end;
    
  }
    
  
  .tete3{
   display: flex;
    color: #0065FC;
    padding-left: 130%;
    border-bottom-style: none;
  
 
 
  

  
    
    
    
    
   
  }
  
  .tete4{
    
    border-bottom-style: solid;
    border-bottom-color: #ffffff;
    
    padding-right: 10%;
    color: black;
    
  
  
   
    
  }
 
 


