@charset "utf-8";
/* CSS Document */

body{
margin-left: 0% ;
  font-family: 'Raleway', sans-serif;
}

/*header*/
.a1{
  position: absolute;
  padding-left: 5%;
  border-bottom:#0065FC solid 2px;
  padding-right: 20%;
  color: #0065FC;
 }

.a2{

position: absolute; 
 display: flex;
flex-direction: row-reverse;
right: 0%;
display: flex;
border-bottom: #F2F2F2 solid 2px;
padding-right: 20%;
margin: 0%;
padding-left: 10%;
}


.a3{
position: absolute;
right: 5%;
top: 2%;
color: #0065FC;
}


.text{
  padding: 5% 10% 0% 5%;
  line-height: 1.5em;
}

.text1{
  line-height: 1.5em;
}
  
.map
{
	
	border: 1px solid #F2F2F2;
	padding: 15px;
	width: 25px;
    height: auto;
    text-align: center;
	border-radius: 15px 0px 0px 15px;
	background-color: #F2F2F2;
}
.place
{
	padding: 15px;
	border: 1px solid #F2F2F2;
	width: 150px;
    height: auto;
    text-align: center;
}

#pseudo{
   border: 0px;
	width: 150px;
    height: 15px;
    text-align: center;
    
}
.research
{
	padding: 15px;
	border: 1px solid #C5C5C5;
	width: 80px;
    height: 15px;
    text-align: center;
	border-radius: 0px 15px 15px 0px;
	background-color: #0065FC;
	color: aliceblue;
  opacity: 0;
  display: none;
    
}
.research-phone{
  padding: 15px;
	border: 1px solid #C5C5C5;
	width: 15px;
    height: 15px;
    text-align: center;
	border-radius: 15px 15px 15px 15px;
	background-color: #0065FC;
	color: aliceblue;

  
}

#location
{
    display: flex;
   margin: 0% 0% 1% 0%;
}
.titrefiltre
{
	display: flex;
flex-direction: column;
    align-items: flex-start;
    margin-left: 0px;
    width: 100%;
    }
.filtres
{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-left: 0px;
	width: 100%;
	margin-top:15px;
	margin-bottom:15px;
	text-align: center;
	font-weight: bold;
  padding-right: 9%;
}

.filtre
{
	border: 2px solid #F2F2F2;
	border-radius: 25px;
	padding-top:0px;
	padding-bottom:0px;
	padding-right:0px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
    background-color: white;
}
  
.inblock
{
	background-color: #DEEBFF;
	border: 0px solid white;
	border-radius: 40px 40px 40px 40px;
	margin-right: 1px;
	padding: 14px 14px 14px 14px;
	display: flex;
    flex-wrap: wrap;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{
    color: #0065FC;
}


.navigation{
        display: flex;
        flex-direction: column;
        margin: 2% 2% 2% 2%;
       
        font-family: 'Raleway', sans-serif;

    }

    .news{
        display: flex;
        flex-direction: row;
        align-items: center;

    }

  .info{
      margin-left: 1%;
}

.news{
 display: flex;
 flex-direction: row;
 align-items: center;

}

#icom{
 background-color: #0065FC;
 color: white;
 border-radius: 50%;
} 

.main{
  display: flex;
  flex-direction: column;
  padding: 6%;
  justify-content: space-between;
}
.hebergement{
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  justify-content: center;
  margin: 2%;

 
  
}
.cards{
  width: 300px;
  height: 100px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  
 
  
  
}
.hebergement-texte{
  line-height: 1%;
}

.title{
  margin-bottom: 10%;
}

.popular{
  width: 320px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  justify-content: center;
  padding-top: 1%;
  display: flex;  

}
.cards0{
  width: 150px;
  height: 190px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  padding-top: 1%;
}


/*Activités à Marseilles*/

.activity{
  display: flex;
  flex-direction: column;
  margin: 5% 0% 0% 0%;
  justify-content: center;
 }

.double{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards2{
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  align-items: center;
}

.cards1{
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  
}

.thumbnail2{
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 60px;
  margin-left: 10px;
  margin-right: 0px;
}

.thumbnail1{
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 60px;
  margin-left: 10px;
  margin-right: 0px;
}

.name{
  margin:10px 0px 10px 15px;
}
/*pied de page*/
#foot{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Raleway', sans-serif;
  background-color: #F2F2F2;
}


