@charset "utf-8";
/* CSS Document */


/*header*/

.tete{
  display: flex;
 }

.tete1{
  
 
  position: absolute;
  left: 1%;
  width: 50%;
}



.tete2{
  display: flex;
  text-align: end;
  flex-flow: column wrap;
  justify-content: flex-end;
  color: #0065FC;
  position: absolute;
  right: 1%;
  width: 50%;
}
  

.tete3{
  
  border-bottom-style: solid;
  
  border-bottom-color: #0065FC;
  color: #0065FC;
  text-align: center;
  padding-right: 25%;
  padding-bottom: 0.5%;
  
 
}

.tete4{
  
  border-bottom-style: solid;
  border-bottom-color: #F2F2F2;
  text-align: center;
  padding-left: 25%;
  color: black;
  
}

 
 
 



