@charset "utf-8";
/* CSS Document */


/*header*/
.logo{
  position: absolute;
  display: flex;
  flex-direction: column;
  
 
}

  
 
  
 

.menu1{
 padding-top: 20%;
 padding-left: 20%;
}


 
 
 


.right{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
  
.activity{
  padding-right: 10%;
}
