@charset "utf-8";
/* CSS Document */
body{
  font-family: 'Raleway', sans-serif;
  margin: 0%;
}


/*header*/
.logo{
  position: absolute;
  
}
.menu-element{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menu-element1{
  border-bottom: none;
  display: flex;
width: inherit;
line-height: 3rem;
padding: 2rem;
border-top: #0065FC 0.1rem solid;
}

.menu-element2{
  border-bottom: none;
  display: flex;
  width: inherit;
  line-height: 3.5rem;
  padding: 1.9rem;
}

.menu-element3{
  display: flex;
  position:inherit;
  right: inherit;
  top: inherit;
  padding: 1.9rem;
  line-height: 3.5rem;
  color: #0065FC;
}

.text{
  margin-left: 1rem;
  line-height: 1.5em;
  padding: 0rem;
}

.text1{
  line-height: 0.5em;
}
  
.map{
	border: 1px solid #F2F2F2;
	padding: 15px;
	width: 25px;
  height: auto;
  text-align: center;
	border-radius: 15px 0px 0px 15px;
	background-color: #F2F2F2;
}

.place
{
	padding: 15px;
	border: 1px solid #F2F2F2;
	width: 100%;
  height: auto;
  text-align: center;
}

.research{
  display: flex;
	padding: 15px;
	border: 1px solid #C5C5C5;
	width: 80px;
  height: auto;
  text-align: center;
	border-radius: 0px 15px 15px 0px;
	background-color: #0065FC;
	color: aliceblue;
  opacity: 1;
}

.research-phone{
  display: none;
  background-color: #0065FC;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  position: relative;
  right: 1rem;
}

#location{
  display: flex;
  padding: 5% 0% 5% 2%;
}

.filtre {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
  
.row {  
  display: flex;
  height:auto;
  flex-direction: column;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: row;
  background-color: #f1f1f1;
  padding-left: 2%;
  border-radius: 20px;
  width: auto;
  flex-wrap: wrap; 
  order: 1;
  margin-bottom: 2rem;
}

.side {
  display: flex;
  background-color: #f1f1f1;
  padding: 10px;
  width: 98vw;
  border-radius: 20px;
  order: 2;
  margin-right: 2%;
}

.title-h{
  width: 100%;
}

.hebergement{
  width: 27vw;
  height: 24vh;
  object-fit: contain;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  justify-content: center;
  margin: 0.5rem;
  padding: 1%;
 
}

.cards{
  width: 27vw;
  height: 12vh;
  object-fit: cover;
  border-radius: 1rem 1rem 0rem 0rem;
}

.display{
  width: 100%;
}

.title{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.popular{
  width: auto;
  height: 190px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  padding: 1%;
}

.cards0{
  width: 150px;
  height: 190px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

  #blue-star{
  color: #0065FC;
  line-height: 4rem;
}

#grey-star{
  color: #f1f1f1;
  line-height: 4rem;
}

/*Activités à Marseilles*/

.activity{
  display: flex;
  flex-direction: row;
  margin: 2vw;
  justify-content: center;
  flex-wrap: wrap;
}


.double{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cards1{
  width: 30vw;
  height: 15vw;
  object-fit: cover;
  border-radius: 1vw 1vw 0px 0px;
}

.cards2{
  width: 30vw;
  height: 15vw;
  object-fit: cover;
  border-radius: 1vw 1vw 0px 0px;
}

.thumbnail1{
  width: 30vw;
  height: 20vw;
  border-radius: 1vw;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
}

.thumbnail2{
  width: 30vw;
  height: 20vw;
  border-radius: 1vw;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
  margin: 1vw;
}

/*pied de page*/

#foot{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #F2F2F2;
  width: auto;
  padding: 2vw;
}

.help{
  flex-grow: 1;
}