@charset "utf-8";
/* CSS Document */
body{
  font-family: 'Raleway', sans-serif;
  margin: 0%;
}


/*header*/
.menu-element{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.logo{
  position: absolute;
  left: 0%;
}

.menu-element1{
  display: flex;
 padding: 1.5rem;
}

.menu-element2{
  display: flex;
  padding: 1.5rem;
  position: none;
  left: 0;
}


.menu-element3{
  display: flex;
  padding: 1.5rem;
color: #0065FC;


}
.text{
  margin-left: 2%;
  line-height: 1.5em;
  padding: 0% 0% 0% 0%;
}


.text{
  margin-left: 2%;
  line-height: 1.5em;
  padding: 0% 0% 0% 0%;
}

.text1{
  line-height: 0.5em;
}
  
.navigation{
  display: flex;
  justify-content:flex-start;

}

#icom{
  background-color: #0065FC;
  color: white;
  border-radius: 50%;
 
 } 
 
 .news{
  display: flex;
  flex-direction: row;
  align-items: center;
 
 }

 .map
{
	border: 1px solid #F2F2F2;
	padding: 15px;
	width: 25px;
    height: auto;
    text-align: center;
	border-radius: 15px 0px 0px 15px;
	background-color: #F2F2F2;
  
}
.place
{
	padding: 15px;
	border: 1px solid #F2F2F2;
	width: 150px;
    height: auto;
    text-align: center;
}


.research
{
  display: flex;
	padding: 15px;
	border: 1px solid #C5C5C5;
	width: 80px;
    height: auto;
    text-align: center;
	border-radius: 0px 15px 15px 0px;
	background-color: #0065FC;
	color: aliceblue;
  opacity: 1;
}

.research-phone{
  display: none;
  background-color: #0065FC;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  position: relative;
  right: 1rem;
}

  



#location
{
    display: flex;
    padding: 5% 0% 5% 2%;
    
   
}

.titrefiltre
{
	display: flex;
	flex-direction: row;
    align-items: center;
    
    width: 5%;
    
}
.filtres
{
	display: flex;
	
	justify-content: space-between;

	width: 70%;
	margin-top:15px;
	margin-bottom:15px;
	text-align: center;
	font-weight: bold;


}

.filtre
{
	border: 2px solid #F2F2F2;
	border-radius: 25px;
	padding-top:0px;
	padding-bottom:0px;
	padding-right:20px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
    background-color: white;
}
  
.inblock
{
	background-color: #DEEBFF;
	border: 0px solid white;
	border-radius: 40px 40px 40px 40px;
	
	padding: 14px 14px 14px 15px;
	display: flex;
   
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{
    color: #0065FC;
}

.navigation{
        display: flex;
        flex-direction: column;
       
      font-family: 'Raleway', sans-serif;

    }

.news{
        display: flex;
        flex-direction: row;
        align-items: center;
}



.navigation{
  display: flex;
  flex-direction: column;
 
 font-family: 'Raleway', sans-serif;
}

.news{
  display: flex;
  flex-direction: row;
  align-items: center;
}



#icom{
background-color: #0065FC;
color: white;
border-radius: 50%;
}

.row {  
  display: flex;
  margin: 0;
  height:auto;
  flex-direction: column;
  width: 100%;
  
  
}

.main {
   display: flex;
    flex-direction: row;
     background-color: #f1f1f1;
    padding-left: 2%;
     border-radius: 20px;
    width: auto;
   flex-wrap: wrap; 
   order: 1;
   margin-right: 0;
   margin-left: 0;
}



.side {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  padding: 10px;
  width: auto;
  border-radius: 20px;
  order: 2;
  margin-right: 2%;
  
 
 
}

.title-h{
  width: 100%;
}

.hebergement{
  width: 250px;
  height: 200px;
  object-fit: contain;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  justify-content: center;
  margin-bottom: 1%;
  margin-top: 1%;
  padding: 1%;
  margin-right: 2%;
  
  
 
  
  
}
.cards{
  width: 250px;
  height: 100px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  padding: 0%;
}

.display{
  width: 100%;
}

.title{
 display: flex;
 flex-direction: row;
 justify-content: space-between;

}




.popular{
  width: auto;
  height: 190px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  padding: 1%;
  
  
  

}
.cards0{
  width: 150px;
  height: 190px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  

}

  


#blue-star{
  color: #0065FC;
  line-height: 4rem;
}

#grey-star{
   color: #f1f1f1;
   line-height: 4rem;
}



/*Activités à Marseilles*/




.activity{
  display: flex;
  flex-direction: row;
  margin: 2vw;
  justify-content: center;
 flex-wrap: wrap;
  }


.double{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cards1{
  width: 30vw;
  height: 15vw;
  object-fit: cover;
  border-radius: 1vw 1vw 0px 0px;
}

.cards2{
  width: 30vw;
  height: 15vw;
  object-fit: cover;
  border-radius: 1vw 1vw 0px 0px;
}

.thumbnail1{
  width: 30vw;
  height: 20vw;
  border-radius: 1vw;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
  
  
  
  
}

.thumbnail2{
  width: 30vw;
  height: 20vw;
  border-radius: 1vw;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
  margin: 1vw;
 
  
}

.name{
  margin:0;
}
.name1{
  margin:0;
}
/*pied de page*/

#foot{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: 'Raleway', sans-serif;
  background-color: #F2F2F2;
  width: auto;
  padding: 2vw;
}

.help{
  flex-grow: 1;
}